.container {
  display: flex;
  margin: 40px 10px 40px 10px;
  transition: all 0.4s ease-in-out;

}

.filterpanel {
  width: 430px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  height: 700px;
  margin-right: 1rem;
  padding: 1.5rem;
  box-shadow: 2px 2px 11px 0 rgb(0 0 0 / 10%);
}
.productscotainer {
  /* flex: 4; */
  /* margin-left: 2rem; */
  display: flex;
  flex-wrap: wrap;
  transition: all 0.4s ease-in-out;
  justify-content: center;

    align-items: center;
    width: 100%;
}
.pcontainer{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}
.filteritem {
  margin: 1.5rem 0 1.5rem 0;
  display: flex;
  justify-content: space-between;
  transition: all 200ms ease-in-out;
}
.filteritem span {
  font-size: 17px;
  font-weight: 400;
}
.filteroption {
  opacity: 0;
  display: flex;
  flex-direction: column;
  transform: scaleY(0);
  position: absolute;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  transform-origin: top;
}
.filterpanel li,
.filterpanel h2,
.filterpanel span {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
.filteroption ul {
  list-style: none;
}
.filteroption ul li {
  cursor: pointer;
  font-weight: 300;
  color: rgb(41, 41, 41);
}
.filteroption ul li:hover {
  color: rgba(41, 41, 41, 0.664);
}
.colors {
  display: flex;
}
.coloroption {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid gray;
  cursor: pointer;
  position: relative;
}

.coloroption::before{
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  border-radius:50%;
  background-color: #c96;
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;

}
.coloroption:hover::before{
  transform: scale(1);
  transform-origin: left center;

}
#active::before{
  transform: scale(1);
  transform-origin: left center;

}

.resetbutton button {
  width: 100%;
  padding:10px 25px;
  border: 2px solid #c96;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: .9rem;
  line-height: 1;
  color: #c96;
  transition: all 0.35s ease;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
  
}

.resetbutton button:hover { 
  background-color: #c96;
  color: white;
}


.sizeoption{
  width: 50px;
  height: 50px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #c96;
  cursor: pointer;
  transition: all 0.4s ease-in;

}
.sizeoption:hover {
  background-color: #c96;
  color: #F6F6F6;
}
.sizeoption span{
  font-weight: 500; 
  font-size: .8rem;
  display: block;
}
.sizeoption:hover .sizeoption span{

  color: #F6F6F6;
}



@media screen and (max-width: 695px) {

}
 

@media screen and (max-width: 540px) {
  .container {
    flex-direction: column;
    justify-content: center;
    margin: 40px 10px 40px 10px;
   
  }
  .productscotainer {
    margin-top: 1rem;
    margin-left: 0;
    justify-content: center;
  }
  .filterpanel{
    width: 100%;
  }
}
 
