.wrapper {
  margin-top: 2rem;
  display: flex;
  transition: all 0.4s ease-in-out; 

}
.container{
  display: flex;
  flex-direction: column;
  padding: 50px;
  transition: all 0.4s ease-in-out; 

}
.imgcontainer {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.4s ease-in-out; 

}
/* .imgcontainer img {
  

} */
.infocontainer {
  flex: 1;
  padding: 0px 50px;
  transition: all 0.4s ease-in-out; 

}
.infocontainer p {
  margin: 20px 0;
  letter-spacing: 0.5px;
  color: #777;
  font-size: 1rem;
  font-weight: 300;
}
.infocontainer h1 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 12px;
}
/* .infocontainer span {
  font-weight: 100;
  font-size: 40px;
} */
.filtercontainer {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 30px;
  flex-direction: column;
  transition: all 0.4s ease-in-out; 


}
.filtercontainer h1 {
  font-size: 17px;
  font-weight: 400;
  color: #666;
  width: 67px;
}
.filter {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

}
.filtercolor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
  border: solid 0.2px  rgba(204, 153, 102, 0.629); 
  position: relative;
}
.filtercolor::before{
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  border-radius:50%;
  background-color: #c96;
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;

}
#active::before{
  transform: scale(1);
  transform-origin: left center;

}
.filtersize {
  min-width: 131px;
  font-weight: 400;
  padding: 8.5px 30px 8.5px 10px;
  background-color: transparent;
  border-color: #d7d7d7;
  outline: none;
  color: #666;
}

.addcontainer {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  /* justify-content: center; */
}
.amountcontainer {
  display: flex;
  align-items: center;

  font-weight: 700;
}
.amountcontainer span {
  font-size: 30px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #c96;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-weight: 300;
}
.addcontainer button {
  max-width: 220px;
  padding:13px 25px;
  border: 2px solid #c96;
  background-color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1;
  color: #c96;
  transition: all 0.35s ease;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
  
}

.addcontainer button:hover { 
  background-color: #c96;
  color: white;
}
.wishlistspan{
  display: flex;
  align-items: center;
  color: #666666;
  font-weight: 400;
  transition: all .35s ease;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
} 
.wishlistspan::before{
  content: "";
  position: absolute;
  right: 0;
  bottom: -0.5px;
  width: 115px;
  height: 0.5px;
  background-color: #c96;
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.wishlistspan:hover,.wishlistspan:hover::before{
  color: #c96;
 
  transform: scale(1);
  transform-origin: left center;

}
.reviewcontainer {
  display: flex;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.youmayalsolike{
 margin-top: 5rem;
 display: flex;
 flex-direction: column;

}

.spancontainer {
  position: relative;
  display: flex;
  letter-spacing: 0.1em;
  font-size: 24px;
  color: #333;
  margin-bottom: 4rem;
  font-weight: 600;
  transition: all 0.4s ease-in-out; 

}
.sm_border {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 50%;
  bottom: 0px;
  right: 0px;
  left: 65px;
  background-color: #c96;
}
.textcontainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noselect{
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

@media screen and (max-width: 850px) {
  .wrapper {
   flex-direction: column;
   justify-content: center;
  }
  .container{
    padding: 10px;
  }
  .infocontainer {
    margin-top: 1rem;
    padding: 0 0 0 20px;
  }
  .imgcontainer{
    margin-right: 1.5rem;
  }
  /* .addcontainer button {
    font-size: 10px;
  } */
  /* .addcontainer{
    justify-content: center;
    align-items: center;
    margin-left: 12rem;
    width: fit-content;
    margin-top: 1rem;
  } */
  
}
@media screen and (max-width: 399px) {
  .addcontainer{
flex-direction: column;
align-items: flex-start;
  }
    .addcontainer button {
    font-size: 13px;
    margin: 0 0 .7rem 0;
  }
  
}


@media screen and (max-width: 386px) {
  .pdiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spancontainer {
    position: relative;
    display: flex;
    letter-spacing: 0.1em;
    font-size: 20px;
    margin-bottom: 4rem;
    font-weight: 600;
  }
  .sm_border{
    left: 51px;
  }
  
}

@media screen and (max-width: 647px) {
  .pdiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
}
