.container {
  flex: 1;
  margin: 5px;
  /* min-width: 280px;
  max-width: 250px;
  max-height: 400px;
  min-height: 350px; */
  min-width: 260px;
  max-width: 270px;
  height: 365px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f6fbfe; */
  position: relative;
  flex-direction: column;
}
.imgcontainer {
  height: 70%;
  z-index: 1;
  cursor: pointer;
}
.circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 58px;
}
.info {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  background-color: #f6f6f6;
}
.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  margin: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
  opacity: 0;
  color: #c96;
}
.icon:hover {
  background-color: #c96;
  color: white;
  transform: scale(1.1);
}
.container:hover .icon{
  opacity: 1;
}

.container:hover .button button{
  transform: scaleY(1);
}
.button button {
  padding: 9px;
  background-color: white;
  cursor: pointer;
  line-height: 10px;
  color: #c96;
  transition: all 0.35s ease;
  -webkit-transition: all .35s ease;
  border: none;
  width: 94%;
  font-size: 14px;
  transform: scaleY(0);
  position: absolute;
  transform-origin: bottom;
  bottom: 6px;
  left: 9.2px;
  border-radius: 3px;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container button:hover {
  background-color: #c96;
  color: white;
}
.price {
  margin-top: 1.5rem;
  z-index: 1;
  margin-bottom: 1.5rem;
}
.price span {
  font-size: 16px;
  font-weight: 500;
  /* color: rgb(82, 76, 76); */
  color: black;
}
