.container {
  /* flex: 1; */
  margin: 5px;
  margin-right: 20px;
  /* min-width: 280px;
  max-width: 250px;
  max-height: 400px;
  min-height: 350px; */
  min-width: 260px;
  max-width: 270px;
  height: 365px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f6fbfe; */
  position: relative;
  flex-direction: column;
  transition: all 0.4s ease-in-out; 
  overflow: hidden;
  border-radius: 15px; 
  -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 3%);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 3%);

}
.imgcontainer {
  height: 70%;
  z-index: 1;
  cursor: pointer;
  margin-bottom: 2.7rem;
  transition: transform 0.4s ease-in-out; 
  overflow:hidden;
  object-fit: cover;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.info {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  background-color: #f6f6f6;
  
}
.icon {
  z-index: 999;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  margin: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
  opacity: 0;
  color: #c96;
  
  
}
.icon:hover {
  background-color: #c96;
  color: white;
  transform: scale(1.1);
}
.container:hover .icon{
  opacity: 1;
}

.container:hover .button button{
  transform: scaleY(1);
}
.container:hover .price{
  visibility: hidden;
  opacity: 0;
}
.container:hover .imgcontainer{
  transform: scale(1.1);
}
.button button {
  padding: 9px;
  background-color: white;
  cursor: pointer;
  line-height: 10px;
  color: #c96;
  transition: all 0.35s ease;
  -webkit-transition: all .35s ease;
  border: none;
  width: 94%;
  font-size: 14px;
  transform: scaleY(0);
  position: absolute;
  transform-origin: bottom;
  bottom: 10px;
  left: 9.2px;
  border-radius: 3px;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container button:hover {
  background-color: #c96;
  color: white;
}
.price {
  position:absolute;
  /* margin-top: 1.5rem; */
  z-index: 1;
  bottom: 20px;
  visibility: visible;
  opacity: 1;
  transition: all 0.35s ease;
  -webkit-transition: all .35s ease;
  /* margin-bottom: 1.5rem; */
}
.price span {
  font-size: 17px;
  font-weight: 600;
  /* color: rgb(82, 76, 76); */
  color: rgb(51, 50, 50);
  background-color: rgba(220, 156, 93, 0.636);
  /* border: 2px solid #c96; */
  padding: .5rem 1rem;
  border-radius: 28px;
}


@media screen and (max-width: 1300px) {
  .container {
    margin-bottom: 1.5rem;
    min-width: 300px;
    max-width: 320px;
  }
}

/* @media screen and (max-width: 1391px) {
  .container {
    min-width: 220px;
    max-width: 240px;
    height: 325px;
  }
}
 
@media screen and (max-width: 1220px) { 
  .container {
    min-width: 180px;
    max-width: 200px;
    height: 280px;
  }
} 


 @media screen and (max-width: 980px) {
  .container {
   flex-basis: 25%;
  }
}

  */
