@import url("http://fonts.cdnfonts.com/css/brandon-grotesque-regular?styles=16710");
.headercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.headercontainer span {
  letter-spacing: 0.2em;
  font-size: 59px;
  text-transform: capitalize;
  font-family: "Brandon Grotesque Medium", sans-serif;

  font-weight: 200;
  color: #282828;
}
.headercontainer a {
  text-decoration: none;
}
