@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.headercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.headercontainer span {
  letter-spacing: 0.2em;
  font-size: 59px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;

  color: #282828;
}
.headercontainer a {
  text-decoration: none;
}
