.textcontainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spancontainer {
  position: relative;
  display: flex;
  letter-spacing: 0.1em;
  font-size: 33px;
  margin-bottom: 4rem;
  font-weight: 700;
}
.nexarrivals {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 100px;
  transition: all 0.4s ease-in-out;
}
.pcontainer{
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  justify-content: center;

}
@media screen and (max-width: 1300px) {
  .pcontainer {
    flex-basis: 35%;
  }
}
 
.sm_border {
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 50%;
  bottom: 0px;
  right: 0px;
  background-color: #c96;
}
.infobar {
  padding: 50px 0 30px;
  background-color: rgb(34, 34, 34);
  margin-top: 1.5rem;
}

.infobarcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.spannn {
  color: #c96;
}
.infobarelement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} 
.span2{
  font-size: 0.9rem;
}
@media screen and (max-width: 1391px) {
  .nexarrivals {
    margin: 0 60px;
  }
}
 


@media screen and (max-width: 1080px) {
  .nexarrivals {
    margin: 0 20px;
  }
}

@media screen and (max-width: 875px) {
  .span1 {
    font-size: 14px;
  }
  .span2 {
    font-size: 12px;
  }
}
@media screen and (max-width: 590px) {
.infobarcontainer{
  flex-direction: column;
  justify-content: center;
}
.infobarelement{
  margin-bottom: 1.5rem;
}
}
