* {
  font-family: var(--font-family);
  
}

::selection {
  background-color: #c96;
  color: #fff;
}
.pagewrapper{
  position: relative;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;
  min-height: 100%;

}

.mobileoverlay{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(25,25,25,.25);
  /* z-index: 1000; */
  -webkit-transition: all .4s;
  transition: all .4s;
  visibility: hidden;
  opacity: 0;
}
#mobilemenuactive  .mobileoverlay{
  visibility: visible;
    opacity: 1;
}

.fixpos button{
  bottom: 100px;
  right: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  width: 100%;
  height: 80px;
  background-color: #DACAAD;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
