.announcement {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(34, 34, 34, 0.575);
  font-size: 12px;
  font-weight: 400;
  border-bottom: solid 0.5px rgba(128, 128, 128, 0.493);
  /* background-color: teal; */
}

@media screen and (max-width: 550px) {
  .phonespan{
    display:none
  }
}

@media screen and (max-width: 300px) {
  .announcement{
    display:none
  }
}

