@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
.announcement {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  background-color: teal;
}
