.container {
  display: flex;
  width: 100%;
  height: 78vh;
  position: relative;
  /* background-color: #eeeee4; */
  background-color: rgba(204, 153, 102, 0.059);
  margin-bottom: 4rem;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.wave {
  position: absolute;
  bottom: 0px;
  z-index: -100;
}

.rightarrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  cursor: pointer;
  opacity: 0.6;
  z-index: 2;
}
.leftarrow {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10px;
  cursor: pointer;
  opacity: 0.6;
}
.wrapper {
  height: 100%;
  display: flex;
  transition: all 1.5s ease-in-out;
  margin-top: 3rem;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 78vh;
  transition: all 0.4s ease-in-out;
}
.imgContainer {
  flex: 1;
  transition: all 0.4s ease-in-out;
  height: 100%;
}
.imgContainer img {
  height: 85%;
  margin-top: 2rem;
  object-fit: cover;
  margin-left: 6rem;
  transition: all 0.4s ease-in-out;
}
.infoContainer {
  flex: 1;
  padding: 50px;
  margin-bottom: 7rem;
}
.infoContainer h1 {
  font-weight: 500;
  font-family: "Pacifico", cursive;
  color: #333;
  font-size: 90px;
  display: inline;
  border-bottom: 3px solid darken(#c96, 10);
  letter-spacing: 2px;
  position: relative;

  /* box-shadow: 0px 7px 0px -2px rgba(0,0,0,0.3); */
}
.infoContainer h1::before {
  position: absolute;
  bottom: 15px;
  content: "";
  z-index: -100;
  left: 30px;
  width: 100%;

  height: 5px;

  background-color: rgba(204, 153, 102, 0.556);
}
.infoContainer p {
  margin-top: 0.5rem;
  margin: 0.5rem 0 0 3.5rem;
  font-size: 20px;
  font-weight: 200;
  color: rgba(51, 51, 51, 0.875);
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
}
.infoContainer button {
  padding: 10px;
  font-size: 100%;
  cursor: pointer;
  color: white;
  margin-top: 30px;
  margin: 50px 0 0 9.5rem;
  text-transform: capitalize;
  padding: 22px 10px;
  letter-spacing: 0.6px;
  font-weight: 500;
  background: #333;
  border: none;
  border-radius: 6px;
  transition: all 0.4s ease-in-out 0s;
}
.phonebtn {
  display: none;
  padding: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 20px;
  width: fit-content;
  font-size: 16px;
  cursor: pointer;
  color: white;
  text-transform: capitalize;
  padding: 22px 22px;
  letter-spacing: 0.6px;
  font-weight: 600;
  background: #282828;
  line-height: 10px;
  border: none;
  border-radius: 30px;
  transition: all 0.4s ease-in-out 0s;
}

.infoContainer button:hover {
  background-color: #bf5535e7;
}

@media screen and (max-width: 1280px) {
  .infoContainer h1 {
    font-size: 40px;
  }
  .infoContainer h1::before {
    bottom: 5px;
  }
  .infoContainer p {
    margin: 15px 0;
    font-size: 17px;
  }
  .imgContainer img {
    margin-left: 5rem;
  }
}

/* @media screen and (max-width: 743px) {
  .infoContainer p {
    margin: 5px 0;
    font-size: 14px;
  }
  .infoContainer {
    padding: 25px;
  }
} */
@media screen and (max-width: 812px) {
  .infoContainer {
    display: none;
  }
  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgContainer img {
    margin-left: 0;
  }
  .phonebtn {
    display: block;
  }
}

@media screen and (max-width: 1065px) {
  .infoContainer button {
    font-size: 12px;
  }
  .infoContainer {
    padding: 0;
    margin: 0;
  }
}
